@font-face {
    font-family: 'friz_quadrataregular';
    src: url('fonts/friz/friz_quadrata_regular-webfont.woff2') format('woff2'),
         url('fonts/friz/friz_quadrata_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boomer_tantrumregular';
    src: url('fonts/boomertantrum/boomertantrum-j88y-webfont.woff2') format('woff2'),
         url('fonts/boomertantrum/boomertantrum-j88y-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 10px;
    background-color: #272727;
    color: white;

}

* {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    body {
        padding: 20px;
     }
}

/* Search Area */

.search-form-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.search-form-container select {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    height: 50px;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .search-form-container {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
    
    .search-form-container select {
        flex-basis: calc(50% - 10px);
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 0px;
    }
}

/* Result Area */

.result-container {
    position: relative;
    /* padding: 20px; */
    padding-bottom: 0px;
    border: solid white 2px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

 .results-background {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.result-container-img-wrapper {
    top: 0;
    left: 0;
    background-size: 100% auto;
    width: 100%;
    opacity: 0.3;
    padding: 0;
    margin: 0;
}

.champion-result {
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    top: 0;
    margin: 20px;
    z-index: 9;
}

.champion-title {
    margin-left: 10px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'friz_quadrataregular';
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
}

.tags {
    display: block;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
}

.tags span {
    margin-right: 10px;
    background-color: rgba(255, 230, 0, 0.521);
    padding: 10px;
}

.lower-half-results {
    background-color: rgb(255, 255, 255, .25);
    padding: 10px;
}

.champion-info {
    display: flex;
    margin-bottom: 20px;
}

.portrait-container {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;

}

.portrait-container img {
    width: 100%;
    display: block;
}

.champion-stats {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 75%;
    padding-left: 20px;
    
}

.stats-broken-down {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 45px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.322);
    align-items: center;
    font-family: 'boomer_tantrumregular';
    padding-left: 10px;
    margin-right: -20px;
}

.stats-broken-down div {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.stats-broken-down span {
    padding-left: 10px;
}

.stats-lore-flex {
    display: flex;
    align-items: top;
    margin-top: 10px;
}

table {
    width: 150px;

}

td {
    width: 50%;
}

td:last-child {
    padding-left: 10px;
}

tr {
    width: 100%;
    padding-left: 5px;
}

.tabled-stats-header {
    font-weight: bold;
}

.icon { 
    width: 48px;
}

.lore {
    margin-left: 15px;
    line-height: 1.3;
}
.lore-label {
    font-size: 22px;
    font-weight: 800;
}

.lore p {
    margin-top: 5px;

}



/* Empty Result Area */

.empty-result {
    display: none;
}

.empty-result.visible {
    display: block;
}